
.App {
  text-align: center;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Carousel Home */
.carousel-style{
  width: 100%;
  height: 100%;
  margin-top: 55px;
  background-color: #282c34;
}
.carousel-item{
  height: 500px;
}


/* About */
.about-style{
margin-top: 60px;
text-align: center ;


}
.about-style-content{
  margin-top: 10px;
}
.img-about{
  width: 100%;
  height: 100%;

}
.button{
 margin-left: 70px;
}
.g-4{
  margin: auto;
  text-align: center;
  text-decoration: underline;
}
.m-5{
  padding-top: 15px;
}
.mr-3{
  height: 300px;
}
.blog-title{
  text-align: center;
  text-decoration: overline;
}
.container-info{
  background-color: bisque;
  padding-top: 65px;
  height: auto;
}

.coctail{
  display: inline-block;
  margin: 5px;


}
.imgCoctail{
  display: list-item; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  border: 1px solid #000; /* Рамка вокруг картинки */
  padding: 5px; /* Поля вокруг картинки */
  
}
ul.hr {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
 }
 ul.hr li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */

 }
.styleFooter{
background-color: #212529;
}
.footerColor {
  color: rgba(255,255,255,.55);

}
.title {
  color: rgba(255,255,255,.55);
}